[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django-salesman = "*"
pygments = "*"
django-mailer = "*"
django-react-templatetags = "*"
django-extensions = "*"
werkzeug = "*"
pillow = "*"
django-rest-auth = {extras = ["with_social"], version = "*"}
python-dotenv = "*"

[requires]
python_version = "3.8"
